/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Container styles */
.container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}

/* Header styles */
h1 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #00254c;
    text-align: center;
}

/* Form styles */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form label styles */
label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

/* Form input and select styles */
input[type="text"],
input[type="date"],
textarea,
select,
input[type="file"],
button[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="file"] {
    background-color: #fff;
    cursor: pointer;
}

/* Form input focus styles */
input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus,
input[type="file"]:focus {
    font-family: 'Poppins', san-serif;
    outline: none;
    border-color: #007bff;
}

/* Form submit button styles */
button[type="submit"] {
    background-color: #00254c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style the disabled input */
#attachments[disabled] {
    background-color: #f0f0f0; /* Grey background */
    cursor: not-allowed; /* Show disabled cursor */
}

/* Style the tooltip */
.form-row {
    position: relative;
}

/* Style the tooltip */
.coming-soon-tooltip {
    position: absolute;
    display: none;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 120px;
    top: 100%; /* Position below the input */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
}

/* Show the tooltip on hover */
#attachments:hover + .coming-soon-tooltip {
    display: block;
}

/* Adjust other styles as needed */
/* You can modify these styles to match your design */
.form-row {
    position: relative;
    margin-bottom: 20px;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    form {
        padding: 15px;
    }
    input[type="text"],
    input[type="date"],
    textarea,
    select,
    input[type="file"],
    button[type="submit"] {
        font-size: 14px;
        margin-bottom: 15px;
    }
}
